<a href='login'>注册用户</a>
<a href='/main／logout'>注销</a>
<form name="resForm" method="post" action="/users/reg">
  Name :<input type="text" name="name"><br>
  PWD  :<input type="text" name="pwd"><br>
  Email:<input type="text" name="email"><br>
  <input type="submit" value="注册">
</form>
